.jumbotron {
  margin: 0px auto;
  padding: 60px 40px;
  height: 550px;
  background-color: #000000;
  background-image: url("../images/francisco-herrera-luque-header.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 5px 3px 5px #000000; }

.row-content {
  margin: 0px auto;
  padding: 30px 20px; }

.btn {
  box-shadow: 5px 3px 5px #000000; }

#gallery {
  margin: 0px auto;
  padding: 30px 0px; }
  #gallery .carousel {
    background: black;
    box-shadow: 5px 3px 5px #000000; }
    #gallery .carousel .carousel-item {
      height: 500px;
      text-shadow: 5px 3px 5px #000000;
      font-weight: bold; }
      #gallery .carousel .carousel-item img {
        position: absolute;
        min-height: 500px;
        width: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto; }

.card {
  margin: 40px;
  box-shadow: 5px 3px 5px #000000; }

.footer {
  margin: 0px auto;
  padding: 30px 20px;
  background-color: #000000;
  color: #ffffff; }
